<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Bug Classifier</title>
  <link rel="stylesheet" href="static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
      <link
    href="https://fonts.googleapis.com/css?family=Montserrat"
    rel="stylesheet"
  /> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
  <div id="wrapper">
    <nav>
      <div>Bug Classifier</div>
    </nav>
  </div>
	<script src="static/app.js"></script>
</body>
</html>